html {
    font-family: sans-serif;
}
.milestone-row  { }	
.repository-row  {
    background-color: white;
}	
.may-be-outdated  {
    background-color: gray;
}
.delayed { }	
.milestone-name {
    font-weight: bold;
    font-size: 20px;
}	
.repository-name {
    color: #4183c4;
}	
.state { font-weight: bold; }	
.closed-at { }	
.due-on 	td { }	
.updated-at  { }	
.percent-complete {
    font-weight: bold;
}
.open-issues  {
    font-weight: bold;
}	
.closed-issues  {
    font-weight: bold;
}
.titles { }	