html {
    font-family: sans-serif;
    font-size: 14px;
}
.milestone-row  { }	
.repository-row  {
    background-color: white;
}	
.may-be-outdated  {
    background-color: gray;
}
.delayed { }	
.milestone-name {
    
    font-size: 20px;
}	
.repository-name {
    background-color: #fafafa;
    color: #4183c4;
    font-size: 16px;
    font-weight: bold;
}	
.state { font-weight: bold; }	
.closed-at { text-align: right; }	
.due-on 	{ }	
.updated-at  { text-align: right; }	
.percent-complete {
    font-weight: bold;
    text-align: right;
}
.open-issues  {
    font-weight: bold;
    text-align: right;
}	
.closed-issues  {
    font-weight: bold;
    text-align: right;
}
.titles {
    text-align: center;
}

#progress {
 background-color: #eeeeee;
 width: 140px;   
 position: relative;
 padding: 0px;
 border-radius: 25px;
}

#percent {
 position: absolute;   
 left: 50%;
}

#bar {
 height: 10px;
 background-color: #44C66C;
 border-radius: 25px;
}
